.active-question-page {
  background-color: #0E2E85;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__winner-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    width: 80%;
    &__streamerImage {
      height: 100%;
    }
    &__winner {
      padding: 1rem;
      line-height: 2;
      text-align: center;
      background-color: #081929;
      border-radius:10px;
      color: #fff;
      margin-top: 1rem;
    }
  }

  &__question-page {
    width: 80%;
    &__question {
      background: #09266ef6;
      color: #fff;
      margin-bottom: 2rem;
      width: 100%;
      padding:.3rem 1rem;
      text-transform: capitalize;
    }

    &__answer {
      display: flex;
      align-items: center;
      gap: 1rem;

      &__keyword {
        background-color: #fff;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 1.3rem;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      }
    }
  }
}